MONGO_URI=mongodb://vkallpa:vkallpa_dev@localhost:27017/?authSource=admin
MONGO_DB_NAME=vkallpa
MONGO_ROOT_USERNAME=vkallpa
MONGO_ROOT_PASSWORD=vkallpa_dev
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD_HASH=plain:admin
JWT_SECRET=replace_with_secret
JWT_EXPIRE_MINUTES=60
